<app-loading-mask *ngIf="loadingMask"></app-loading-mask>

<div class="container">
  <div class="clr-row">
    <div class="clr-col-md-3">
      <div class="widget navy-bg">
        <div class="clr-row">
          <div class="clr-col-md-4">
            <clr-icon shape="cog" class="is-solid" size="36"></clr-icon>
          </div>
          <div class="clr-col-md-8 text-right">
            <span>No of Branch</span>
            <h2 class="font-bold" style="color: white; ">
              {{branchLength}}
            </h2>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="clr-col-md-3">
      <div class="widget lazur-bg">
        <div class="clr-row">
          <div class="clr-col-md-4">
            <clr-icon shape="bundle" class="is-solid" size="36"></clr-icon>
          </div>
          <div class="clr-col-md-8 text-right">
            <span>Physical Qty</span>
            <h2 class="font-bold" style="color: white; ">
              {{newStockData.phyQty}}
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="clr-col-md-3">
      <div class="widget yellow-bg">
        <div class="clr-row">
          <div class="clr-col-md-4">
            <clr-icon shape="balance" class="is-solid" size="36"></clr-icon>
          </div>
          <div class="clr-col-md-8 text-right">
            <span>Variance Qty</span>
            <h2 class="font-bold" style="color: white; ">
              {{newStockData.variance}}
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="clr-col-md-3">
      <div class="widget bg-danger">
        <div class="clr-row">
          <div class="clr-col-md-4">
            <p style="font-size: 36px; color: white"> </p>
          </div>
          <div class="clr-col-md-8 text-right">
            <span>Percentage</span>
            <h2 *ngIf="newStockData.stockAmount!=0" class="font-bold" style="color: white; ">
              {{(newStockData.variance*100/newStockData.stockAmount).toFixed(2)}}%
            </h2>
            <h2 *ngIf="newStockData.stockAmount==0" class="font-bold" style="color: white; ">
              0%
            </h2>
          </div>
        </div>
      </div>
    </div> -->
  </div>



  <div class="clr-row">
    <div class="clr-col-md-12">
      <div class="card">
        <div class="card-header">
          Shortest Path
        </div>
        <div class="card-block">

          <div class="card-text">
            <div class="clr-row">
              <div class="clr-col-md-6">
                <div class="clr-row">
                  <div class="form-group">
                    &nbsp;&nbsp;&nbsp;
                  </div>
                  <div class="form-group">
                    <label for="aForm_3">From</label>
                    <div class="select">
                      <select id="aForm_3" [(ngModel)]="from" name="from">
                        <option [value]="null" selected>Select From</option>
                        <option [value]="branch.branchName" *ngFor="let branch of branchList">
                          {{branch.branchName}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    &nbsp;&nbsp;&nbsp;
                  </div>
                  <div class="form-group">
                    <label for="aForm_3">To</label>
                    <div class="select">
                      <select id="aForm_3" [(ngModel)]="to" name="to">
                        <option [value]="null" selected>Select To</option>
                        <option [value]="branch.branchName" *ngFor="let branch of branchList">
                          {{branch.branchName}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clr-col-md-6">
                <button class="btn btn-primary" (click)="findShortestPath()">Find</button>
                <!-- <div class="btn-group btn-sm">
                  <div class="radio btn" >
                    <input type="radio" name="btn-group-demo-radios" id="btn-demo-radio-1">
                    <label for="btn-demo-radio-1">Find</label>
                  </div>
                  <div class="radio btn">
                    <input type="radio" name="btn-group-demo-radios" id="btn-demo-radio-2">
                    <label for="btn-demo-radio-2">Return</label>
                  </div>
                  <div class="radio btn">
                    <input type="radio" name="btn-group-demo-radios" id="btn-demo-radio-3">
                    <label for="btn-demo-radio-3">Out</label>
                  </div>
                </div> -->

              </div>
            </div>
            <div class="clr-row" *ngIf="lableOne">
              <span>{{lableOne}}</span>
              <br><br>
              <span style="width: 60vw; white-space: break-spaces;
              display: inline-block;
              margin-top: 40px;
              margin-left: -400px; overflow-y: scroll;
            height: 30vh;">{{lableTwo}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>