<nav class="sidenav" style="background:#04101a;">
  <section class="sidenav-content">
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" *ngIf="router.url != '/register'"
      [(clrVerticalNavCollapsed)]="collapsed">
      <a clrVerticalNavLink [routerLink]="['/operational-dashboard']" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="home"></clr-icon>
        Operational Dashboard
      </a>
      <a routerLinkActive="active" clrVerticalNavLink [routerLink]="['/strategic-dashboard']" class="nav-link">
        <clr-icon clrVerticalNavIcon shape="line-chart" size="24"></clr-icon>Strategic Dashboard
      </a>

      <a clrVerticalNavLink routerLinkActive="active" [routerLink]="['/user-maintenance']" class="nav-link">
        <clr-icon clrVerticalNavIcon shape="users" size="24"></clr-icon> User Maintenance
      </a>

      <a clrVerticalNavLink routerLinkActive="active" [routerLink]="['/order-accept']" class="nav-link">
        <clr-icon clrVerticalNavIcon shape="users" size="24"></clr-icon> Order Accept
      </a>

    </clr-vertical-nav>
  </section>
</nav>