
<nav class="sidenav" style="background:#04101a;">
    <section class="sidenav-content">
      <a [routerLink]="['/batch-creation']" class="nav-link active">
        Dashboard
      </a>
      <a href="..." class="nav-link">
        Monitor
      </a>
      <a href="..." class="nav-link">
        User Maintenance
      </a>
      <a href="..." class="nav-link">
        Mismatch Update
      </a>
      <a href="..." class="nav-link">
        Business Structure
      </a>
      <a href="..." class="nav-link">
        Reader Maintenance
      </a>
      <a href="..." class="nav-link">
        Antenna Maintenance
      </a>
      <a href="..." class="nav-link">
        Container Maintenance
      </a>
      <a href="..." class="nav-link">
        Unit Maintenance
      </a>
      <a href="..." class="nav-link">
        Item Maintenance
      </a>
      <a href="..." class="nav-link">
        Batch Maintenance
      </a>
      <a href="..." class="nav-link">
        Production Start
      </a>
      <a href="..." class="nav-link">
        Verification
      </a>
      <a href="..." class="nav-link">
        Custom Report
      </a>
    </section>
  </nav>



  