<app-loading-mask *ngIf="loadingMask"></app-loading-mask>

<div class="login-container">
    <div class="space"></div>
    <div class="row">
        <!-- <div class="col-6">
            <img class="login-brand" src="/assets/images/agro-cropes.png">
        </div> -->
        <div class="col-6">

            <div class="col-12">
                <img class="login-brand" src="/assets/images/agro-cropes.png">
            </div>
            <!-- <div class="row">
                <div class="col-12">
                    <div class="welcome-msg">Welcome to</div>
                </div>
                <div class="col-12">
                    <span class="app-title">Agro Cropes Sales System</span>
                </div>
            </div> -->

        </div>
        <div class="col-6">

            <div class="login-container" style="margin-top: 50px;">
                <form>
                    <!-- <div class="row"> -->

                    <div class="form-group" class="col-8">
                        <input type="text" class="form-control" placeholder="E-mail" style="margin-top: -30px;margin-bottom: 5%;height: calc(1.2em + .75rem + 2px);" #email required>
                    </div>
                    <br>
                    <div class="form-group" class="col-8">
                        <input type="password" class="form-control" placeholder="Password" style="margin-top: -30px;margin-bottom: 5%;height: calc(1.2em + .75rem + 2px);" #password required>
                    </div>
                    <!-- </div> -->

                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary login-btn" style="font-size: initial;font-family: revert;margin-left: 13px;" (click)="signIn(email.value,password.value)">LOGIN</button>
                        </div>
                        <div class="col-4">
                            <div class="register"><a href="#" routerLink="/register" style="font-size: initial;font-family: revert;margin-left: 13px;">New User Register</a></div>
                        </div>
                    </div>
                </form>
                <!-- <div class="form-group">
                    <p *ngIf="errorMsg.length > 0" class="text-danger">{{errorMsg}}</p>
                </div> -->
                <div class="forgotPassword">
                    <a href="#" routerLink="/forgot-password" style="font-size: initial;font-family: revert;margin-left: 13px;">Forgot Password?</a>
                </div>

                <div class="form-group" *ngIf="errorMsg.length > 0">
                    <div class="alert-items">
                        <div class="alert-item static">
                            <div class="alert-icon-wrapper">
                                <clr-icon class="alert-icon" shape="exclamation-circle" style="font-size: smaller;color: red;"></clr-icon>
                            </div>
                            <span class="alert-text " style="font-size: smaller;color:red;margin-top: 7px;">{{errorMsg}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <div class="welcome-msg" style="margin-left: 75px;">Welcome to</div>
        </div>
        <div class="col-12">
            <span class="app-title" style="margin-left: 75px;">Agro Cropes Sales System</span>
        </div>
    </div>
</div>