<app-loading-mask *ngIf="loadingMask"></app-loading-mask>

<div class="login-container">

    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-12" style="margin-top: -20%;">
                    <lottie-animation-view [options]="lottieConfig" [width]="500" [height]="800"
                        (animCreated)="handleAnimation($event)">
                    </lottie-animation-view>
                </div>
            </div>

        </div>
        <div class="col-6">
            <div class="login-container-tab">

                <div class="row">
                    <div class="col-12">
                        <div class="app-title">Find Your Branch With</div>
                        <div class="app-title">Shortes</div>
                        <div class="app-title">Distance...</div>
                        <ul class="list">
                            <li class="welcome-msg">Add Branch Details</li>
                            <li class="welcome-msg">Add Distance Details</li>
                            <li class="welcome-msg">Find Shortest Path</li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-primary" (click)="login()">GET STARTED</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>