<clr-main-container>
     <clr-header *ngIf="router.url != '/login'">
          <app-header style="width: 100%"></app-header>
     </clr-header>

     <div class="content-container">
          <div class="content-area">

               <router-outlet></router-outlet>

          </div>

          <clr-vertical-nav [clrVerticalNavCollapsible]="true" [clrVerticalNavCollapsed]="false"
               *ngIf="router.url != '/login'">
               <a clrVerticalNavLink [routerLink]="['/operational-dashboard']" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="home"></clr-icon>
                    Operational Dashboard
               </a>

               <a clrVerticalNavLink routerLinkActive="active" [routerLink]="['/branch-maintenance']" class="nav-link">
                    <clr-icon clrVerticalNavIcon shape="bank" size="24"></clr-icon> Branch Maintenance
               </a>

               <a clrVerticalNavLink routerLinkActive="active" [routerLink]="['/distance-maintenance']"
                    class="nav-link">
                    <clr-icon clrVerticalNavIcon shape="map" size="24"></clr-icon> Distance Maintenance
               </a>

               <a clrVerticalNavLink routerLinkActive="active" [routerLink]="['/custom-report']" class="nav-link">
                    <clr-icon clrVerticalNavIcon shape="file-group" size="24"></clr-icon> Service Report
               </a>

          </clr-vertical-nav>

     </div>
</clr-main-container>