<app-loading-mask *ngIf="loadingMask"></app-loading-mask>
<!-- <nav class="subnav">
  <section class="subnav-content">
    <a class="nav-link"> Main</a>
    <a class="nav-link"> PickList</a>
    </section>
</nav> -->
<nav class="subnav">
  <ul class="nav">
    <!-- <li class="nav-item">
        <a *ngIf="util.validateUserMenu('Dashboard')" routerLinkActive="active" [routerLink]="['/dashboard']" class="nav-link">
           Main 
      </a>
      </li> -->
    <li class="nav-item">
      <a routerLinkActive="active" [routerLink]="['/shipment-dashboard']" class="nav-link">
        Distributed
      </a>
    </li>
    <li class="nav-item">
      <a routerLinkActive="active" [routerLink]="['/picklist-dashboard']" class="nav-link">
        Collected
      </a> </li>
    <!-- <li class="nav-item">
        <a routerLinkActive="active" [routerLink]="['/category-dashboard']" class="nav-link">
          Category 
        </a>
      </li> -->
  </ul>
  <!-- <div class="col-md-2">
        <button (click)="refresh()" style="margin-left: 70px;" class="btn btn-sm">
          <clr-icon shape="refresh"></clr-icon>
        </button>
       

      </div> -->
</nav>
<!-- <a routerLinkActive="active" [routerLink]="['/shipment-dashboard']" class="nav-link">
                    Shipment Dashboard
                </a> -->

<div class="row" style="margin-top: 15px">
  <div class="col-md-4" style="margin: 0">
    <div class="card card-block" style="margin-top: 0px; padding: 1px; height:420px">

      <div class="row"></div>
      <p class="card-text" style="padding: 1px 10px 1px 10px ">
        <a class="card clickable stat-card">
          <div class="card-block"
            style="padding: 0px; display: flex; justify-content: space-between; align-items: center;">
            <div class="img-wrapper" style="background-color: #49AFD9">
              <img class="img-center" src="/assets/images/system.png" style="width:30px" alt="sheduled">
            </div>
            <p style="margin: 0px;padding-right: 10px; font-size: 2em; -webkit-border-end: outset;">
              {{newStockData.stockAmount}}</p>

          </div>
          <div class="card-footer" style="padding: 0; padding-left: 1px">
            <a class="btn btn-sm btn-link"><span class="label label-blue"
                style="width: 200px; background-color: #012538; color: aliceblue;">Available
                Vegitables Qty</span></a>
          </div>
        </a>
        <a class="card clickable stat-card">
          <div class="card-block"
            style="padding: 0px; display: flex; justify-content: space-between; align-items: center;">
            <div class="img-wrapper" style="background-color:  #49AFD9">
              <img class="img-center" src="/assets/images/stock.png" style="width:30px" alt="sheduled">
            </div>
            <p style="margin: 0px;padding-right: 10px; font-size: 2em; -webkit-border-end: outset;">
              {{newStockData.phyQty}}</p>

          </div>
          <div class="card-footer" style="padding: 0; padding-left: 1px">
            <a class="btn btn-sm btn-link"><span class="label label-blue"
                style="width: 200px; background-color: #012538; color: aliceblue;">Available
                Fruits Qty</span></a>
          </div>
        </a>
        <a class="card clickable stat-card">
          <div class="card-block"
            style="padding: 0px; display: flex; justify-content: space-between; align-items: center;">
            <div class="img-wrapper" style="background-color: #49AFD9">
              <img class="img-center" src="/assets/images/progress.png" style="width:30px" alt="sheduled">
            </div>
            <p style="margin: 0px;padding-right: 10px; font-size: 2em; -webkit-border-end: outset;">
              {{newStockData.variance}}</p>

          </div>
          <div class="card-footer" style="padding: 0; padding-left: 1px">
            <a class="btn btn-sm btn-link"><span class="label label-blue"
                style="width: 110px; background-color: #012538; color: aliceblue;">Variance
                Qty
              </span></a>
          </div>
        </a>

        <a class="card clickable stat-card">
          <div class="card-block"
            style="padding: 0px; display: flex; justify-content: space-between; align-items: center;">
            <div class="img-wrapper" style="background-color: #49AFD9">
              <img class="img-center" src="/assets/images/percentage.png" style="width:30px" alt="sheduled">
            </div>
            <p *ngIf="newStockData.stockAmount!=0"
              style="margin: 0px;padding-right: 10px; font-size: 2em; -webkit-border-end: outset;">
              {{(newStockData.variance*100/newStockData.stockAmount).toFixed(2)}}%</p>
            <p *ngIf="newStockData.stockAmount==0"
              style="margin: 0px;padding-right: 10px; font-size: 2em; -webkit-border-end: outset;">0%</p>
          </div>
          <div class="card-footer" style="padding: 0; padding-left: 1px">
            <a class="btn btn-sm btn-link"><span class="label label-blue"
                style="width: 110px; background-color: #012538; color: aliceblue;">Variance</span></a>
          </div>
        </a>
      </p>
    </div>



  </div>
  <div class="col-md-8">
    <div class="card" style="margin: 0; height:420px">
      <div class="card-block" style="padding: 1; background-color: #ffffff">
        <div class="row">
          <!-- <div class="col-md-1"></div> -->
          <div class="col-md-5">
            <label for="fromDate">FROM</label>
            <input type="date" [(ngModel)]="hBatchFrom" clrDate id="fromDate" size="13">
          </div>
          <div class="col-md-5">
            <label for="toDate">TO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <!-- <input type="date" id="toDate" name="date2" [(ngModel)]="date2" style="width: 90%;"><clr-icon shape="calendar"></clr-icon> -->
            <input type="date" [(ngModel)]="hBatchTo" clrDate id="toDate" size="13">
          </div>
          <div class="col-md-2">
            <div (click)="filterData()" class="col-sm-3" style="padding-right: 0;">
              <clr-icon class="btn btn-icon btn-primary" style="width: 50px; height: 50px;" shape="filter-grid-circle">
              </clr-icon>
            </div>
          </div>
          <div class="col-sm-3"></div>
          <div class="col-md-6">

          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <a class="card clickable stat-card" (click)="openInProgressBatchModel(2)">
              <div class="card-block"
                style="padding: 0px; display: flex; justify-content: space-between; align-items: center;">
                <div class="img-wrapper" style="background-color: #03ce03ba">
                  <img class="img-center" src="/assets/images/complete.png" style="width:30px" alt="sheduled">
                </div>
                <p style="margin: 0px;padding-right: 10px; font-size: 2em; -webkit-border-end: outset;">{{available}}
                </p>

              </div>
              <div class="card-footer" style="padding: 0; padding-left: 1px">
                <a hrefclass="..." class="btn btn-sm btn-link"><span class="label label-blue"
                    style="width: 112px; background-color: #012538; color: aliceblue;">
                    Authorized Qty
                  </span></a>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <a class="card clickable stat-card" (click)="openInProgressBatchModel(2)">
              <div class="card-block"
                style="padding: 0px; display: flex; justify-content: space-between; align-items: center;">
                <div class="img-wrapper" style="background-color: #F76F6C">
                  <img class="img-center" src="/assets/images/cross.png" style="width:30px" alt="sheduled">
                </div>
                <p style="margin: 0px;padding-right: 10px; font-size: 2em; -webkit-border-end: outset;">{{unavailable}}
                </p>

              </div>
              <div class="card-footer" style="padding: 0; padding-left: 1px">
                <a hrefclass="..." class="btn btn-sm btn-link"><span class="label label-blue"
                    style="width: 124px; background-color: #012538; color: aliceblue;">
                    Unauthorized Qty
                  </span></a>
              </div>
            </a>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-12">
            <clr-datagrid>
              <clr-dg-column>Location</clr-dg-column>
              <clr-dg-column>Item No</clr-dg-column>
              <clr-dg-column>Qty</clr-dg-column>

              <clr-dg-row *clrDgItems="let AuditDataList of auditdata">
                <clr-dg-cell>{{AuditDataList.location}}</clr-dg-cell>
                <clr-dg-cell>{{AuditDataList.itemID}}</clr-dg-cell>
                <clr-dg-cell>{{AuditDataList.qty}}</clr-dg-cell>

              </clr-dg-row>

              <clr-dg-footer>
                <clr-dg-pagination #pagination [clrDgPageSize]="3">
                  {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                  of {{pagination.totalItems}} Items
                </clr-dg-pagination>
              </clr-dg-footer>
            </clr-datagrid>
          </div>
        </div> -->
        <div class="card card-block" style="margin-top: 0px; padding: 1px; height:100px">
          <div style="font-size: 15px; max-height: 10px">
            &nbsp;&nbsp;Distributed Summary
          </div>
          <div class="row" style="margin-left: 1px; margin-right: 1px; margin-top: 1px">

            <div class="col-md-4">
              <div class="card clickable stat-card" (click)="openShipmentModel(shipmentPending.shipmentStatus)">

                <div class="card-block"
                  style="padding: 0px; display: flex; justify-content: space-between; align-items: center;">
                  <p class="card-text"
                    style="margin: 0px; padding-right: 10px; padding-left: 90px; text-align: right;  font-size: 2em; ">
                    {{shipmentPending.statusCount}}</p>


                </div>
                <div class="card-footer" style="padding: 0; padding-left: 1px">
                  <a class="btn btn-sm btn-link"><span class="label label-blue"
                      style="width: 110px; background-color: #012538; color: aliceblue;">Pending
                    </span></a>
                </div>
              </div>

            </div>
            <div class="col-md-4">
              <div class="card clickable stat-card" (click)="openShipmentModel(shipmentInProgress.shipmentStatus)">
                <div class="card-block"
                  style="padding: 0px; display: flex; justify-content: space-between; align-items: center;">

                  <p class="card-text"
                    style="margin: 0px; padding-right: 10px; padding-left: 90px; text-align: right;  font-size: 2em; ">
                    {{shipmentInProgress.statusCount}}</p>

                </div>
                <div class="card-footer" style="padding: 0; padding-left: 1px">
                  <a class="btn btn-sm btn-link"><span class="label label-blue"
                      style="width: 110px; background-color: #012538; color: aliceblue;">In Progress
                    </span></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card clickable stat-card" (click)="openShipmentModel(shipmentCompleted.shipmentStatus)">
                <div class="card-block"
                  style="padding: 0px; display: flex; justify-content: space-between; align-items: center;">
                  <p class="card-text"
                    style="margin: 0px; padding-right: 10px; padding-left: 90px; text-align: center;  font-size: 2em; ">
                    {{shipmentCompleted.statusCount}}</p>

                </div>
                <div class="card-footer" style="padding: 0; padding-left: 1px">
                  <a class="btn btn-sm btn-link"><span class="label label-blue"
                      style="width: 110px; background-color: #012538; color: aliceblue;">Completed</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-block" style="margin-top: 20px; padding: 1px; height:105px">
          <div style="font-size: 15px; max-height: 10px">
            &nbsp;&nbsp;Collected Summary
          </div>
          <div class="row" style="margin-left: 1px; margin-right: 1px; margin-top: 1%">

            <div class="col-md-4">
              <div class="card clickable stat-card" (click)="openPickListModel(pickListPending.status)">
                <div class="card-block"
                  style="padding: 0px; display: flex; justify-content: space-between; align-items: center;">
                  <p class="card-text"
                    style="margin: 0px; padding-right: 10px; padding-left: 90px; text-align: center;  font-size: 2em; ">
                    {{pickListPending.statusCount}}</p>

                </div>
                <div class="card-footer" style="padding: 0; padding-left: 1px">
                  <a class="btn btn-sm btn-link"><span class="label label-blue"
                      style="width: 110px; background-color: #012538; color: aliceblue;">Pending
                    </span></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card clickable stat-card" (click)="openPickListModel(pickListInProgress.status)">
                <div class="card-block"
                  style="padding: 0px; display: flex; justify-content: space-between; align-items: center;">
                  <p class="card-text"
                    style="margin: 0px; padding-right: 10px; padding-left: 90px; text-align: center;  font-size: 2em; ">
                    {{pickListInProgress.statusCount}}</p>

                </div>
                <div class="card-footer" style="padding: 0; padding-left: 1px">
                  <a class="btn btn-sm btn-link"><span class="label label-blue"
                      style="width: 110px; background-color: #012538; color: aliceblue;">In Progress

                    </span></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card clickable stat-card" (click)="openPickListModel(pickListCompleted.status)">
                <div class="card-block"
                  style="padding: 0px; display: flex; justify-content: space-between; align-items: center;">
                  <p class="card-text"
                    style="margin: 0px; padding-right: 10px; padding-left: 90px; text-align: center;  font-size: 2em; ">
                    {{pickListCompleted.statusCount}}</p>

                </div>
                <div class="card-footer" style="padding: 0; padding-left: 1px">
                  <a class="btn btn-sm btn-link"><span class="label label-blue"
                      style="width: 110px; background-color: #012538; color: aliceblue;">Completed</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="row" style="margin-top: 25px;">
  <div class="col-md-5">
    <div class="card" style="margin: 0">
      <div class="card-header">
        Stock Summary
      </div>
      <div class="card-block" style="padding: 0px; height: 360px; padding-top: 35px;">
        <!-- <div [chart]="stockChartData" style="height: 300px;"></div> -->
      </div>

    </div>
  </div>
  <div class="col-md-7">
    <div class="card" style="margin: 0">
      <div class="card-header">
        Transactions
      </div>
      <div class="card-block" style="padding: 0; height: 360px; ">

        <clr-datagrid style="height: 350px; ">
          <clr-dg-column>Order No</clr-dg-column>
          <clr-dg-column>Vendor Name</clr-dg-column>
          <clr-dg-column>Location</clr-dg-column>
          <clr-dg-column>Quantity</clr-dg-column>
          <clr-dg-column>Type</clr-dg-column>


          <clr-dg-row *ngFor="let Trans of getTransArray">
            <clr-dg-cell>{{Trans.serialID}}</clr-dg-cell>
            <clr-dg-cell>{{Trans.itemID}}</clr-dg-cell>
            <clr-dg-cell>{{Trans.locationID}}</clr-dg-cell>
            <clr-dg-cell>{{Trans.qty}}</clr-dg-cell>
            <clr-dg-cell style="text-align: center">
              <div *ngIf="Trans.txType==3" style="color: #0079B8">Accept Shipment</div>
              <div *ngIf="Trans.txType==1" style="color: #48960C">Drop Bin</div>
              <div *ngIf="Trans.txType==4" style="color: #00AB9A">Pick Up</div>
              <div *ngIf="Trans.txType==5" style="color: #781DA0">Inventory Out</div>
              <div *ngIf="Trans.txType==6" style="color: #EE4A08">Issue Return</div>
              <div *ngIf="Trans.txType==2" style="color: #00BFA9">Return to Bin</div>
              <div *ngIf="Trans.txType==7" style="color: #D28F00">Bin Return</div>
              <div *ngIf="Trans.txType==8" style="color: #B0105B">Stock Return</div>
              <div *ngIf="Trans.txType==9" style="color: #48960C">Inventory In</div>
              <div *ngIf="Trans.txType==10" style="color: #781DA0">Inventory Out</div>
            </clr-dg-cell>

          </clr-dg-row>

          <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="5">
            </clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>

      </div>
      <!-- <div class="card-footer" style="display: flex; justify-content: center; background-color: #e6e5e5">
        <button class="btn btn-sm" style="color: aliceblue; background-color: #012538;" (click)="openCurrentStockWarehouseVise()">Warehouse
          Wise</button>
        <button class="btn btn-sm" style="color: aliceblue; background-color: #012538;" (click)="openItemIssueDistributorVise()">Distributor
          Wise</button>
        <button class="btn btn-sm" style="color: aliceblue; background-color: #012538;" (click)="openemptyJarsContainersBottlesStoreVise()">Store
          Wise</button>
      </div> -->

    </div>
  </div>
</div>
<!-- <div class="row" style="margin-top: 25px;">
  <div class="col-md-12">
    <div class="card" style="margin: 0">
      <div class="card-header">
        Drop Bin Items
      </div>
      <div class="card-block" style="padding: 0; height: 360px; padding-top: 35px;">

        <div [chart]="dropInChartData" style="height: 300px;"></div>

      </div>
    </div>

  </div>
</div> -->



<!--*****************************dashboard click View Models  ******************************-->

<clr-modal [(clrModalOpen)]="shipmentViewModal" [clrModalSize]="'sm'" [clrModalClosable]="true">

  <h3 class="modal-title">Distributed View</h3>
  <div class="modal-body">


    <clr-datagrid>
      <clr-dg-column>Distributed No</clr-dg-column>

      <clr-dg-row *ngFor="let Shipment of shipmentAll1">

        <clr-dg-cell>{{Shipment.shipmentNo}}</clr-dg-cell>

      </clr-dg-row>
      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
    <div class="row">

      <div class="col-md-4">
        <button class="btn btn-sm" (click)="closeShipmentViewModel()">OK</button>
      </div>
    </div>
  </div>
</clr-modal>




<clr-modal [(clrModalOpen)]="pickListViewModal" [clrModalSize]="'sm'" [clrModalClosable]="true">

  <h3 class="modal-title">PickList View</h3>
  <div class="modal-body">

    <clr-datagrid>
      <clr-dg-column>PickList No</clr-dg-column>

      <clr-dg-row *ngFor="let PickListDashboard of pickListAll1">

        <clr-dg-cell>{{PickListDashboard.name}}</clr-dg-cell>

      </clr-dg-row>
      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
    <div class="row">

      <div class="col-md-4">
        <button class="btn btn-sm" (click)="closePickListViewModel()">OK</button>
      </div>
    </div>
  </div>
</clr-modal>





<!-- <clr-modal [(clrModalOpen)]="authorizeditemViewModal" [clrModalSize]="'md'" [clrModalClosable]="true">

      <h3 class="modal-title">Authorized Items</h3>
      <div class="modal-body">
  
  
        <clr-datagrid>
          <clr-dg-column>Serial No</clr-dg-column>
          <clr-dg-column>Qty</clr-dg-column>
  
          <clr-dg-row  *ngFor="let PickListDashboard of pickListAll1">
            <clr-dg-cell>{{PickListDashboard.name}}</clr-dg-cell>
            <clr-dg-cell>{{PickListDashboard.name}}</clr-dg-cell>
          </clr-dg-row>
          <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>
        <div class="row">
    
          <div class="col-md-4">
            <button class="btn btn-sm" (click)="closePickListViewModel()">OK</button>
          </div>
        </div>
      </div>
    </clr-modal>





    <clr-modal [(clrModalOpen)]="unauthorizeditemViewModal" [clrModalSize]="'col-md-7'" [clrModalClosable]="true">

      <h3 class="modal-title">Unauthorized Items</h3>
      <div class="modal-body">
  
  
        <clr-datagrid>
          <clr-dg-column>Serial No</clr-dg-column>
          <clr-dg-column>Qty</clr-dg-column>

          <clr-dg-row  *ngFor="let PickListDashboard of pickListAll1">
            <clr-dg-cell>{{PickListDashboard.name}}</clr-dg-cell>
            <clr-dg-cell>{{PickListDashboard.name}}</clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>
        <div class="row">
    
          <div class="col-md-4">
            <button class="btn btn-sm" (click)="closePickListViewModel()">OK</button>
          </div>
        </div>
      </div>
    </clr-modal> -->



<!-- <div class="row"> -->

<!-- <div class="col-xs-12 col-sm-8 col-md-8">
    fg
  </div> -->





<!-- <div class="col-xs-12 col-sm-4 col-md-4">

    <div class="card top-box sheduled">
      <div class="card-block">

        <div class="row">
          <div class="col-xs-4">
            <img src="/assets/images/sheduled.png" style="width:60px" alt="sheduled">
          </div>
          <div class="col-xs-8">

            <span class="spinner spinner-md" *ngIf="showBatchSummeryReport">
            </span>
            <span *ngIf="!showBatchSummeryReport">
              <h3 class="card-title batch-summery-title">{{batchSummeryReportData.SCHEDULED}}</h3>
              <p class="card-text">
                Scheduled
              </p>
            </span>
          </div>
        </div>

      </div>
    </div>

  </div> -->

<!-- <div class="col-xs-12 col-sm-4 col-md-4">

    <div class="card top-box inprogress">
      <div class="card-block">

        <div class="row">
          <div class="col-xs-4">
            <img src="/assets/images/inprogress.png" style="width:60px" alt="Inprogress">
          </div>
          <div class="col-xs-8">
            <span class="spinner spinner-md" *ngIf="showBatchSummeryReport">
            </span>
            <span *ngIf="!showBatchSummeryReport">
              <h3 class="card-title batch-summery-title">{{batchSummeryReportData.PROGRESS}}</h3>
              <p class="card-text">
                In Progress
              </p>
            </span>
          </div>
        </div>
      </div>
    </div>

  </div> -->

<!-- <div class="col-xs-12 col-sm-4 col-md-4">

    <div class="card top-box finished">
      <div class="card-block">

        <div class="row">
          <div class="col-xs-4">
            <img src="/assets/images/finished.png" style="width:60px" alt="Finished">
          </div>
          <div class="col-xs-8">
            <span class="spinner spinner-md" *ngIf="showBatchSummeryReport">
            </span>
            <span *ngIf="!showBatchSummeryReport">
              <h3 class="card-title batch-summery-title">{{batchSummeryReportData.FINISHED}}</h3>
              <p class="card-text">
                Finished
              </p>
            </span>
          </div>
        </div>

      </div>
    </div>

  </div> -->


<!-- <div class="col-xs-12 col-sm-12 col-md-5">
    <div class="card card-height schedule-batched-today">
      <div class="card-block">

        <div class="progress top loop" *ngIf="scheduleChartLoading">
          <progress></progress>
        </div>

        <h4 class="card-title">Schedule Batches Today ({{todayDate | date}})</h4>

        <ul class="schedule-batches" style="overflow-y:scroll; max-height:180px; ">
          <li *ngFor="let schedule of scheduleDetailsData" [ngClass]="{'schedule-batches-legend-scheduled': schedule.MPB_BATCH_STATUS == 1, 'schedule-batches-legend-inprogress': schedule.MPB_BATCH_STATUS == 2, 'schedule-batches-legend-finished': schedule.MPB_BATCH_STATUS == 3}">{{schedule.MPB_BATCH_CODE}} - Units {{schedule.TOT}}</li>
        </ul>

        <br> -->
<!-- <div class="row">
          <div class="col-sm-4">
            <div class="schedule-batches-legend schedule-batches-legend-finished"></div>
            <div>Finished</div>
          </div>
          <div class="col-sm-4">
            <div class="schedule-batches-legend schedule-batches-legend-inprogress"></div>
            <div>In Progress</div>
          </div>
          <div class="col-sm-4">
            <div class="schedule-batches-legend schedule-batches-legend-scheduled"></div>
            <div>Scheduled</div>
          </div>
        </div> -->

<!-- <table class="schedule-table">
          <tr>
            <th style="color:#70ad47">■</th>
            <th style="color:#4472c4">■</th>
            <th style="color:#ed7d31">■</th>
          </tr>
          <tr>
            <td>Finished</td>
            <td>In Progress</td>
            <td>Scheduled</td>
          </tr>
        </table>


      </div>

    </div>
  </div> -->


<!-- <div class="col-xs-12 col-sm-12 col-md-7" (click)="getProductionMoreChartData()">
    <div class="card card-height production-chart">
      <div class="card-block">

        <div class="progress top loop" *ngIf="productionChartLoading">
          <progress></progress>
        </div>

        <h4 class="card-title">Production</h4> -->

<!-- <canvas id="production-bar-chart"></canvas> 
 <div [chart]="productionChartData"></div>


      </div>

    </div>
  </div> -->


<!-- <div class="col-xs-12 col-sm-4" (click)="openCurrentStockWarehouseVise()"> 
     <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" (click)="openCurrentStockWarehouseVise()">
    <div class="card card-height current-stock-main-chart">
      <div class="card-block">

        <div class="progress top loop" *ngIf="currentStockPositionChartLoading">
          <progress></progress>
        </div>

        <h4 class="card-title">Current Stock Position</h4>

        <div [chart]="currentStockPositionChartData"></div>

      </div>

    </div>
  </div> -->

<!-- <div class="col-xs-12 col-sm-4" (click)="openItemIssueDistributorVise()">
<!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" (click)="openItemIssueDistributorVise()">
    <div class="card card-height issued-main-chart">
      <div class="card-block">

        <div class="progress top loop" *ngIf="issuedChartLoading">
          <progress></progress>
        </div>

        <h4 class="card-title">Issued</h4>

        <div [chart]="issuedChartData"></div>

      </div>

    </div>
  </div> -->

<!-- <div class="col-xs-12 col-sm-4" (click)="openemptyJarsContainersBottlesStoreVise()">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4" (click)="openemptyJarsContainersBottlesStoreVise()">
    <div class="card card-height empty-container-main-chart">
      <div class="card-block">

        <div class="progress top loop" *ngIf="emptyContainersChartLoading">
          <progress></progress>
        </div>

        <h4 class="card-title">Empty Jars/Containers/Bottles</h4>

        <div [chart]="emptyJarsContainersBottlesBarChartData"></div>
      </div>

    </div>
  </div> -->

<!-- </div> 

<clr-modal [(clrModalOpen)]="warehouseWiseModel" [clrModalSize]="'lg'">
  <h3 class="modal-title">Warehouse Wise</h3>
  <div class="modal-body">
    chart here
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="distributorWiseModel" [clrModalSize]="'lg'">
  <h3 class="modal-title">Distributor Wise</h3>
  <div class="modal-body">
    chart here
  </div>
</clr-modal> -->

<!-- <clr-modal [(clrModalOpen)]="storeWiseModel" [clrModalSize]="'lg'">
  <h3 class="modal-title">Store Wise</h3>
  <div class="modal-body">
    chart here
  </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="scheduledBatchModel" [clrModalSize]="'lg'">
  <h3 class="modal-title">Scheduled Batch Details</h3> 
  <div class="modal-body">
    <table class="table">
      <thead>
        <tr>
          <th>Batch Code</th>
          <th>Batch Description</th>
          <th>Batch Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ar of batchProductionDtl">
          <td>{{ar.batchCode}}</td>
          <td>{{ar.description}}</td>
          <td>{{ar.batchDate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="inProgressBatchModel" [clrModalSize]="'lg'">
  <h3 class="modal-title">In Progress Batch Details</h3>
  <div class="modal-body">
    <table class="table">
      <thead>
        <tr>
          <th>Batch Code</th>
          <th>Batch Description</th>
          <th>Batch Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ar of batchProductionDtl">
          <td>{{ar.batchCode}}</td>
          <td>{{ar.description}}</td>
          <td>{{ar.batchDate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="finishedBatchModel" [clrModalSize]="'lg'">
  <h3 class="modal-title">Finished Batch Details</h3>
  <div class="modal-body">
    <table class="table">
      <thead>
        <tr>
          <th>Batch Code</th>
          <th>Batch Description</th>
          <th>Batch Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ar of batchProductionDtl">
          <td>{{ar.batchCode}}</td>
          <td>{{ar.description}}</td>
          <td>{{ar.batchDate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="stockDetails" [clrModalSize]="'xl'" [clrModalClosable]="false">

  <div class="modal-title">Stock Details

    <button [clrLoading]="stockFilterLoadingAll" [disabled]="setSelectedStockFilterDisable == 1" type="button" class="btn btn-primary btn-info-outline"
      (click)="filterStock(1)">All</button>
    <button [clrLoading]="stockFilterLoadingInprogress" [disabled]="setSelectedStockFilterDisable == 2" type="button" class="btn btn-primary btn-info-outline"
      (click)="filterStock(2)">Inprogress</button>
    <button [clrLoading]="stockFilterLoadingCompleted" [disabled]="setSelectedStockFilterDisable == 3" type="button" class="btn btn-primary btn-info-outline"
      (click)="filterStock(3)">Completed</button>

  </div>


  <div class="modal-body">




    <table class="table">
      <thead>
        <tr>
           <th>Batch</th> 
          <th>Batch No</th>
          <th>Item</th>
          <th>Estimated QTY</th>
          <th>Produced</th>
          <th>Distributed/Delivered</th>
          <th>Stock in warehouses</th>
          <th>Difference</th>
          <th>In transit</th>
          <th>Unauthorized</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of stockDetailsData">
         <td></td> 
          <td>{{stock.BATCH_ID}}</td>
          <td>{{stock.ITEM_CODE}}</td>
          <td>{{stock.EXPECTED_QTY}}</td>
          <td>{{stock.PROD_QUENTITY}}</td>
          <td>{{stock.DISTRIBUTED_QTY}}</td>
          <td>{{stock.STOCK_QTY - stock.TRANSIT }}</td>
          <td style="color: red;font-weight: bold" *ngIf="getStockDifference(stock.PROD_QUENTITY,stock.DISTRIBUTED_QTY,stock.STOCK_QTY) !=0">{{getStockDifference(stock.PROD_QUENTITY,stock.DISTRIBUTED_QTY,stock.STOCK_QTY)}}</td>
          <td *ngIf="getStockDifference(stock.PROD_QUENTITY,stock.DISTRIBUTED_QTY,stock.STOCK_QTY) ==0">{{getStockDifference(stock.PROD_QUENTITY,stock.DISTRIBUTED_QTY,stock.STOCK_QTY)}}</td>
          <td>{{stock.TRANSIT}}</td>
          <td>{{stock.UNAUTH}}</td>

        </tr>


      </tbody>
    </table>


  </div>
  <div class="modal-footer">
     <button type="button" class="btn btn-outline" (click)="stockDetails = false">Cancel</button> 
    <button type="button" class="btn btn-primary" (click)="stockDetails = false">Ok</button>
  </div>
</clr-modal>





<clr-modal [(clrModalOpen)]="currentStockWarehouseVise" [clrModalSize]="'lg'" [clrModalClosable]="false">
  <h3 class="modal-title">Current Stock Warehouse Vise</h3>
  <div class="modal-body">


    <div [chart]="currentStockWarehouseViseChartData"></div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="currentStockWarehouseVise = false">Ok</button>
  </div>
</clr-modal>



<clr-modal [(clrModalOpen)]="itemIssuedDistributorVise" [clrModalSize]="'lg'" [clrModalClosable]="false">
  <h3 class="modal-title">Item Issued Distributor Vise</h3>
  <div class="modal-body">

    <div [chart]="itemIssuedDistributorViseBarChartData"></div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="itemIssuedDistributorVise = false">Ok</button>
  </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="emptyJarsContainersBottlesStoreVise" [clrModalSize]="'lg'" [clrModalClosable]="false">
  <h3 class="modal-title">Empty Jars/Containers/Bottles Store Vise</h3>
  <div class="modal-body">

    <div [chart]="emptyJarsContainersBottlesStoreViseBarChartData"></div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="emptyJarsContainersBottlesStoreVise = false">Ok</button>
  </div>
</clr-modal>



<clr-modal [(clrModalOpen)]="productionChartDataMore" [clrModalSize]="'lg'" [clrModalClosable]="false">
  <h3 class="modal-title">Production</h3>
  <div class="modal-body">

    <div [chart]="productionChartDataMoreChartData"></div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="productionChartDataMore = false">Ok</button>
  </div>
</clr-modal> -->