<div class="displayTable">

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Reset Password
                </div>
                <div class="card-body">

                    <form>
                        <small class="form-text text-muted">Please enter your email address to request a password.</small>
                        <br>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="email" name="email" class="form-control" placeholder="Email Address" style="margin-top: -30px;margin-bottom: 5%;height: calc(1.2em + .75rem + 2px);" #passwordResetEmail required>
                        </div>
                    </form>

                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary" (click)="authService.ForgotPassword(passwordResetEmail.value)" style="font-family:monospace;font-size: medium;">Reset Password</button>
                        </div>
                        <div class="col-4">
                            <div><a href="#" routerLink="/login" style="font-size: initial;font-family: revert;margin-left:5px;">Back To Login</a></div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>