<!-- <app-loading-mask *ngIf="loadingMask"></app-loading-mask> -->

<div class="register-container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-11">
            <div>Register to </div>
            <div class="app-title" style="float:left;">Agro Cropes Sales System</div>
        </div>
    </div>
    <div class="space"></div>
    <div class="row">
        <div class="col-4">
            <img class="register-brand" style="margin-left: 18%;" src="/assets/images/agro-cropes.png">
        </div>
        <div class="col-1"></div>

        <div class="col-7">

            <div class="register-container">
                <form (ngSubmit)="register()">
                    <div class="row">

                        <div class="form-group" class="col-5">
                            <input type="text" class="form-control" id="first_Name" formControlName="firstName" placeholder="First Name" style="margin-top: -30px;margin-bottom: 5%;height: calc(1.2em + .75rem + 2px);" required>
                        </div>
                        <br>
                        <br>

                        <div class="form-group" class="col-5">
                            <input type="text" class="form-control" id="last_Name" formControlName="lastName" placeholder="Last Name" style="margin-top: -30px;margin-bottom: 5%;height: calc(1.2em + .75rem + 2px);" required>
                        </div>
                        <br>
                        <br>

                        <div class="form-group" class="col-10">
                            <input type="text" class="form-control" id="contactNo" formControlName="contactNo" placeholder="Contact No" style="margin-top: -30px;margin-bottom: 5%;height: calc(1.2em + .75rem + 2px);" required>
                        </div>
                        <br>
                        <br>

                        <div class="form-group" class="col-10">
                            <input type="text" class="form-control" id="register_email" formControlName="email" placeholder="E-mail" style="margin-top: -30px;margin-bottom: 5%;height: calc(1.2em + .75rem + 2px);" required>
                        </div>
                        <br>
                        <br>

                        <div class="form-group" class="col-10">
                            <input type="password" formControlName="password" class="form-control" id="register_password" placeholder="Password" style="margin-top: -30px;margin-bottom: 5%;height: calc(1.2em + .75rem + 2px);" required>
                        </div>
                        <br>
                    </div>

                    <!-- <div class="row">
                        <div class="col-3">
                            <br>
                            <button type="submit" class="btn btn-primary register-btn" style="font-family:monospace;font-size: medium;margin-top: -50px;">Register</button>
                        </div>
                        <div class="register"><a href="#" routerLink="/login" style="font-family:monospace;font-size: medium; margin-top: -50px;">Back To Login</a></div>

                    </div> -->

                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary register-btn" style="font-size: initial;font-family: revert;margin-left: 1px;">Register</button>
                        </div>
                        <div class="col-4">
                            <div><a href="#" routerLink="/login" style="font-size: initial;font-family: revert;margin-left: 13px;">Back To Login</a></div>
                        </div>
                    </div>
                </form>

                <div class="form-group">
                    <p *ngIf="errorMsg.length > 0" class="text-danger">{{errorMsg}}</p>

                    <p *ngIf="error.message.length > 0" class="text-danger">{{error.message}} </p>

                    <p *ngIf="message.length > 0" class="text-info">{{message}} </p>
                </div>
            </div>
        </div>

    </div>

</div>